.article {

  &__header {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s ease;
    position: fixed;
    width: 100%;
    z-index: 6;

    .bridge {
      background-color: rgba(255, 255, 255, 0);
      transition: background-color 0.5s ease;
    }
  }

  &__header-options {
    justify-content: space-between;
    padding: 2rem 2rem 1rem;
    display: flex;
  }

  &__back {
    background: var(--ion-color-primary);
    justify-content: center;
    color: var(--white);
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 32px;
    width: 32px;
  }

  &__favorite {
    background: var(--white);
    border: 1px solid var(--ion-color-primary);
    justify-content: center;
    color: var(--ion-color-primary);
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 32px;
    width: 32px;

  }

  &__content {
    padding: 1rem;
  }

  &__title {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    line-height: 36px;
    margin: 1.5rem 0rem 1rem;;
  }

  &__facts {
    display: flex;
    color: var(--facts-color);
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 0.75rem;

    p {
      margin: 0;
    }
  }

  &__fact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    position: relative;
    height: 32px;
    padding: 1rem;

    img {
      padding-right: 0.25rem;
    }
  }

  &__origin-image {
    border-radius: 50%;
  }

  &__description {
    color: var(--text-color);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 140%;
    margin-top: 1.25rem;
  }

  &__characteristics {
    span {
      color: black;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 36px;
    }

    ul {
      color: var(--text-color);
      margin: 0.75rem 0;
      padding-left: 1rem;
      font-size: 0.875rem;
      font-weight: 400;
    }
  }

  &__footer {
    padding: 8px;

    ion-button {
      --border-radius: 100px;
      height: 50px;
      font-size: 1.125rem;
      text-transform: none;
    }
  }
}

ion-progress-bar {
  height: 10px;
  border-radius: 32px;
  --buffer-background: #FFCDD6;
}

ion-footer {
  box-shadow: none;
  background: white;
}



