// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --Trebuchet: 'Trebuchet MS';

  --favorite-background: #FFFFFFAB;
  --ion-color-primary: #F2968F;
  --gray1: #A6A6A9;
  --white: #ffffff;
  --facts-color: #9B9B9D;

  --text-color: #6E6E71;

}

